In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("s3://ishaan-research/data/manifests/adni_manifest_test.csv")

In [7]:
df

,subject,session,visit_code,acq_date,path,modality,desc,image_id,diagnosis,sex,age
0,002_S_0413,bl,bl,2006-05-19,s3://ishaan-research/data/raw/adni/adni_3yr_3t...,T1w,MPR; ; N3; Scaled,I40657,CN,F,76
1,002_S_0413,bl,bl,2006-05-19,s3://ishaan-research/data/raw/adni/adni_3yr_3t...,T1w,MPR; ; N3; Scaled_2,I118675,CN,F,76
2,002_S_0413,m06,m06,2006-11-15,s3://ishaan-research/data/raw/adni/adni_3yr_3t...,T1w,MPR; ; N3; Scaled_2,I128346,CN,F,77
3,002_S_0413,m12,m12,2007-06-01,s3://ishaan-research/data/raw/adni/adni_3yr_3t...,T1w,MPR; ; N3; Scaled,I64551,CN,F,77
4,002_S_0413,m24,m24,2008-07-31,s3://ishaan-research/data/raw/adni/adni_3yr_3t...,T1w,MPR; ; N3; Scaled,I120746,CN,F,79
...,...,...,...,...,...,...,...,...,...,...,...
346,136_S_0429,m06,m06,2006-12-18,s3://ishaan-research/data/raw/adni/adni_3yr_3t...,T1w,MPR; ; N3; Scaled,I66801,MCI,M,63
347,136_S_0429,m12,m12,2007-06-18,s3://ishaan-research/data/raw/adni/adni_3yr_3t...,T1w,MPR; ; N3; Scaled,I83549,MCI,M,64
348,136_S_0429,m18,m18,2007-12-17,s3://ishaan-research/data/raw/adni/adni_3yr_3t...,T1w,MPR; ; N3; Scaled,I88169,MCI,M,64
349,136_S_0429,m24,m24,2008-06-17,s3://ishaan-research/data/raw/adni/adni_3yr_3t...,T1w,MPR; ; N3; Scaled,I120446,MCI,M,65
350,136_S_0429,m36,m36,2009-07-13,s3://ishaan-research/data/raw/adni/adni_3yr_3t...,T1w,MPR; ; N3; Scaled,I205562,MCI,M,66

In [12]:
df[df["image_id"] == "I83389"]

,subject,session,visit_code,acq_date,path,modality,desc,image_id,diagnosis,sex,age
82,023_S_0031,m24,m24,2007-11-14,s3://ishaan-research/data/raw/adni/adni_3yr_3t...,T1w,MPR; GradWarp; B1 Correction; N3; Scaled,I83389,CN,F,80